@model EnderecoModel
@{
    ViewBag.Subtitulo = "Exclusão de Endereço";
    var cliente = ViewBag.Cliente as ClienteModel;
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>
<h4>Deseja realmente excluir o endereço<br> 
    <span class="text-danger">@Model.EnderecoCompleto?</span></h4>

<form asp-action="Excluir" class="w-25">
    <input type="hidden" asp-for="@Model.Id">
    <input type="hidden" asp-for="@cliente.IdCliente" name="IdCliente">
    <div class="mt-3">
        <a asp-action="Index" asp-route-cid="@cliente.IdCliente" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>